*{
    box-sizing: border-box;
}   
h1 {
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-top: 50px;
    font-size: 2em;
    position: relative;
    text-align: center;
}
div.big1 {
    position: relative;
    width: 300px;
    height: 175px;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    margin-top: 75px;
    background-color: gray;
    display: inline-block;
    margin-left: 10px;
    float: left;

}
div.small1 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #DEB887;

}
div.big2 {
    position: relative;
    width: 300px;
    height: 175px;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    margin-top: 75px;
    background-color: gray;
    display: inline-block;
    margin-right: 10px;
    margin-left: 1px;
    float: left;
}
div.small2 {
    position: absolute;
    color: white;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #A52A2A;
}
div.big3 {
    position: relative;
    width: 300px;
    height: 175px;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    margin-top: 75px;
    background-color: gray;
    display: inline-block;
    float: left;
}
div.small3 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #5F9EA0;  
    }
.footer {
  position: fixed; 
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  margin-bottom: 0;
  background-color: gray;
  text-align: center;
  border: 3px solid black;
}

@media (min-width: 991px)
{

div.big1 {
    width: 31%;
    height: 175px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;

}
div.big2 {
    width: 31%;
    margin-right: 10px;
    margin-top: 10px;
}
div.big3 {
    width: 31%;
    margin-top: 10px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
div.big1 {
    width: 44%;
    margin-top: 35px;
    margin-right: 30px;
    margin-left: 23px;
}
div.big2 {
    width: 44%;
    margin-top: 35px;
}
div.big3 {   
    width: 96%;
    margin-top: 35px;
    margin-left: 3px; 
}
}
@media (max-width: 767px) {
div.big1 {  
    width: 90%; 
    height: 175px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 15px;
}
div.big2 {
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
}
div.big3 {   
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
}
}
