*{
    box-sizing: border-box;
}   
h1 {
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-left: 400px;
    margin-top: 50px;
    font-size: 2em;
    position: absolute;
}
div.big1 {
    position: relative;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    background-color: gray;
    display: inline-block;
}
div.small1 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #DEB887;

}
div.big2 {
    position: relative;
    width: 300px;
    height: 175px;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    background-color: gray;
    display: inline-block;
}
div.small2 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #A52A2A;
}
div.big3 {   
    position: relative;
    width: 300px;
    height: 175px;
    border: 3px solid black;
    padding: 2.5em 1.5em;
    background-color: gray;
    display: inline-block;
}
div.small3 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 100px;
    height: 35px;
    border: 3px solid black;
    padding: 0.5em 0.5em;
    background-color: #5F9EA0;   }
.footer {
  position: absolute; 
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  background-color: gray;
  text-align: center;
  border: 3px solid black;
}
@media (min-width: 991px)
{
    h1{ margin-left: 400px; }

div.big1 {
    width: 300px;
    height: 175px;
    margin-top: 150px;
    margin-right: 15px;
    margin-left: 21px;

}
div.small1 {
    background-color: #DEB887;

}
div.big2 {
    width: 300px;
    margin-top: 150px;
    margin-right: 15px;
}
div.small2 {
    background-color: #A52A2A;
}
div.big3 {
    width: 300px;
    margin-top: 100px;
}
div.small3 {
    background-color: #5F9EA0;}
.footer {
    bottom: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
    margin-left: 320px;
    margin-top: 50px;
    font-size: 2em;
}
div.big1 {
    width: 339px;
    margin-top: 150px;
    margin-right: 30px;
    margin-left: 23px;
}
div.small1 {
    background-color: #DEB887;

}
div.big2 {
    width: 339px;
    margin-top: 150px;
}
div.small2 {
    background-color: #A52A2A;
}
div.big3 {   
    width: 708px;
    margin-top: 50px;
    margin-left: 23px; 
}
div.small3 {
    background-color: #5F9EA0;   }
.footer {
 bottom: 0;
}
}
@media (max-width: 767px) {
h1 {
    margin-left: 335px;
    margin-top: 10px;
    font-size: 2em;
   }
div.big1 {  
    width: 730px; 
    height: 175px;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 15px;
}
div.small1 {
    background-color: #DEB887;
}
div.big2 {
    width: 730px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 15px;
}
div.small2 {
    background-color: #A52A2A;
}
div.big3 {   
    width: 730px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 15px;
}
div.small3 {
    background-color: #5F9EA0;   
}
.footer {
  bottom: 0px;
  width: 780px;
}
}